.musica{
    width: 90%;
    max-width: 56.25rem;/* 900/16 */
    padding: 1.875rem;/* 30/16 */
    box-shadow: 0 0 1.25rem var(--col-trans-rojo);/* 20/16 */
    background: var(--col-blanco);
    color: var(--col-oscuro);
    border-radius: .5rem;/* 8/16 */

    .track{
        @include display-flex(row,flex-start,center);
        margin-top: 1.25rem;/* 20/16 */

        img{
            width: 4.375rem;/* 70/16 */
            margin-right: 1.875rem;/* 30/16 */
            cursor: pointer;
        }

        div{
            flex: 1;
        }
    }
}