:root {
  box-sizing: border-box;
  font-family: "Poppins","sans-serif"; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

:root {
  --color-blanco:#fff;
  --color-oscuro:#00122e;
  --color-oscuro-200:#182842;
  --color-oscuro-300:#4d6181; }

ul {
  list-style: none; }

.navegacion {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-oscuro-200);
  width: 7.5rem;
  /* 120/16 */
  padding: .625rem 0;
  /* 10/16 */ }
  .navegacion .logo {
    width: 3.5rem;
    /* 56/16 */
    display: block;
    margin: auto;
    cursor: pointer; }
  .navegacion .lista {
    margin-top: 7.5rem;
    /* 120/16 */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center; }
    .navegacion .lista > * + * {
      margin-top: .625rem;
      /* 10/16 */ }
    .navegacion .lista .item .imagen {
      padding: .625rem;
      /* 10/16 */
      display: block;
      width: 3.125rem;
      /* 50/16 */
      opacity: .5;
      border-radius: .625rem;
      /* 10/16 */
      transition: background-color .5s, opacity .5s;
      cursor: pointer; }
      .navegacion .lista .item .imagen:hover {
        opacity: 1;
        background-color: var(--color-oscuro-300); }
      .navegacion .lista .item .imagen.imagen-activado {
        opacity: 1;
        background-color: var(--color-oscuro-300); }

.contenedor {
  margin-left: 7.5rem;
  /* 120/16 */
  padding: 0 2.5%; }
  .contenedor .figura {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5625rem 0;
    /* 25/16 */ }
    .contenedor .figura .imagen {
      width: 1.5625rem;
      /* 25/16 */
      margin-left: 2.5rem;
      /* 40/16 */ }
  .contenedor .fila {
    margin-top: .9375rem;
    /* 15/16 */
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .contenedor .fila .col-1 {
      flex-basis: 65%; }
      .contenedor .fila .col-1 .imagen {
        width: 84%;
        border-radius: .9375rem;
        /* 15/16 */ }
      .contenedor .fila .col-1 .controles {
        display: flex;
        justify-content: center;
        align-items: center; }
        .contenedor .fila .col-1 .controles .imagen {
          width: 2.5rem;
          /* 40/16 */
          margin: 1.25rem .625rem;
          /* x=(20/16) y=(10/16) */
          cursor: pointer;
          transition: transform .5s; }
          .contenedor .fila .col-1 .controles .imagen::nth-child(3) {
            width: 4.375rem;
            /* 70/16 */ }
          .contenedor .fila .col-1 .controles .imagen:hover {
            transform: translateY(-10px); }
    .contenedor .fila .col-2 {
      flex-basis: 33%; }
      .contenedor .fila .col-2 > * + * {
        margin-top: 1.25rem;
        /* 20/16 */ }
      .contenedor .fila .col-2 .joined {
        background-color: var(--color-oscuro-200);
        border-radius: .9375rem;
        /* 15/16 */
        padding: 1.875rem 2.5rem 3.125rem;
        /* x=(30/16) y=(40/16) z=(50/16) */
        color: var(--color-blanco); }
        .contenedor .fila .col-2 .joined .figura {
          margin-top: 1.25rem;
          /* 20/16 */
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: 1.25rem;
          /* 20/16 */ }
          .contenedor .fila .col-2 .joined .figura .imagen {
            width: 66%;
            object-fit: cover;
            border-radius: .625rem;
            /* 10/16 */
            margin-left: 0;
            cursor: pointer; }
      .contenedor .fila .col-2 .invitados {
        background-color: var(--color-oscuro-200);
        border-radius: .9375rem;
        /* 15/16 */
        padding: 1.875rem 2.5rem 3.125rem;
        /* x=(30/16) y=(40/16) z=(50/16) */
        color: var(--color-blanco); }
      .contenedor .fila .col-2 .figura .imagen {
        margin-top: 1.25rem;
        /* 20/16 */
        margin-left: .3125rem;
        /* 5/16 */
        width: 3.125rem;
        /* 50/16 */
        border-radius: 50%;
        cursor: pointer; }

#root {
  width: 100%;
  height: 100vh;
  background-color: var(--color-oscuro); }
