:root{
    --color-blanco:#{$color-blanco};
    --color-oscuro:#{$color-oscuro};
    --color-oscuro-200:#{$color-oscuro-200};
    --color-oscuro-300:#{$color-oscuro-300};
}
ul{
    list-style: none;
}