:root {
  --color-blanco:#fff;
  --color-blanco-200:#ddd;
  --color-fondo: #5c539d;
  --color-morado:#1f283b;
  --color-tomate:#e33058; }

:root {
  box-sizing: border-box;
  font-family: "Poppins","sans-serif"; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

ul {
  list-style: none; }

.precio-fila {
  margin: auto;
  display: grid;
  width: 90%;
  max-width: 69.375rem;
  /* 1110/16 */
  grid-template-columns: repeat(auto-fit, minmax(15.62rem, 1fr));
  /* 250/16 */
  grid-gap: 1.56rem;
  /* 25/16 */ }

.precio-columna {
  padding: 10% 15%;
  background-color: var(--color-morado);
  border-radius: .625rem;
  /* 10/16 */
  color: var(--color-blanco);
  text-align: center; }

.precio .parrafo {
  font-size: 1.37rem;
  /* 22/16 */ }

.precio .subtitulo {
  font-size: 2.75rem;
  /* 44/16 */
  margin: 1.25rem 0 2.50rem;
  /* x=(20/16), y=(40/16) */
  font-weight: 500; }
  .precio .subtitulo .mes {
    font-size: 1rem;
    /* 16/16 */ }

.precio .boton {
  margin-top: 1.875rem;
  /* 30/16 */
  padding: .875rem 0;
  /* 14/16  */
  width: 100%;
  background-color: transparent;
  color: var(--color-blanco);
  font-size: .9375rem;
  /* 15/16 */
  border: 1px solid var(--color-tomate);
  border-radius: .375rem;
  /* 6/16 */
  cursor: pointer;
  transition: background-color .5s; }
  .precio .boton:hover {
    background-color: var(--color-tomate); }

.lista {
  text-align: left;
  margin: 1.25rem 0;
  /* 20/16 */
  color: var(--color-blanco-200); }
  .lista .item {
    margin: .93rem 0;
    /* 15/16 */ }
    .lista .item::before {
      content: "\2022";
      color: var(--color-tomate);
      font-weight: bold;
      margin-right: .5rem;
      /* 8/16 */ }

#root {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-fondo); }
  #root .titulo {
    color: var(--color-blanco);
    font-size: 2rem;
    /* 32/16 */
    padding: 3.12rem 0;
    /* 50/16 */
    text-align: center; }
