.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
        width: 2.5rem;/* 40/16 */
        border-radius: 50%;
        margin: .62rem .31rem;/* x=(10/16) y=(5/16) */
        transition: background .5s;

        &:hover{
            background: $color-fucsia;
        }
    }
}